<div>
    {{#each docs}}
    <div class="product-container">
        <div class="product-details">
            <p class="product-title"> {{this._doc.title}}</p>
            <p class="product-price"><strong>Precio:</strong> ${{this._doc.price}}</p>
        </div>

        <form action="{{cartUrl}}" method="post">
            <input type="hidden" name="productId" value="{{this._doc._id}}">
            <button class="add-to-cart-button" type="submit">Agregar al Carrito</button>
        </form>
        <div class="product-images">
            {{#each this._doc.thumbnail}}
            <img src="{{this}}" alt="Imagen del producto" class="product-image">
            {{/each}}
        </div>
        <div>
            <a href="/api/products/{{this._doc._id}}" class="product-button">Ver Más...</a>
        </div>
    </div>

    {{/each}}
    <div class="pagination-container">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}" class="pagination-button">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}" class="pagination-button">Siguiente</a>
        {{/if}}
    </div>
</div>





{{!-- <h1>
    Bienvenidos al CHAT de CODER
</h1>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs">
    </p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"> </script>
<script src="/socket.io/socket.io.js"> </script>
<script src="/js/index.js"> </script> --}}